.icon-github, .icon-docker-hub,
.icon-twitter, .icon-linkedin,
.icon-email, .icon-rss {
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-right: 10px;
}

.icon-github {
    background-image: url(img/github.png);
    transition: all 0.2s ease;
}

.icon-github:hover {
    background-position: 0px -23px;
}

.icon-docker-hub {
    background-image: url(img/docker-hub.png);
    transition: all 0.2s ease;
}

.icon-docker-hub:hover {
    background-position: 0px -23px;
}

.icon-twitter {
    background-image: url(img/twitter.png);
    transition: all 0.2s ease;
}

.icon-twitter:hover {
    background-position: 0px -23px;
}

.icon-linkedin {
    background-image: url(img/linkedin.png);
    transition: all 0.2s ease;
}

.icon-linkedin:hover {
    background-position: 0px -23px;
}

.icon-email {
    background-image: url(img/email.png);
    transition: all 0.2s ease;
}

.icon-email:hover {
    background-position: 0px -23px;
}

.icon-rss {
    background-image: url(img/rss.png);
    transition: all 0.2s ease;
}

.icon-rss:hover {
    background-position: 0px -23px;
}
