# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Skyper's Blog
description: > # this means to ignore newlines until "baseurl:"
  Personal blog about IT, Electronics, Science... I write in French and in English.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://blog.skyplabs.net" # the base hostname & protocol for your site

# Plugins
gems:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist

# Handling Reading
exclude:
  - Gemfile
  - Gemfile.lock
  - bower.json
  - LICENSE
  - README.md
  - CNAME
  - vendor
  - scripts
  - Dockerfile
  - docker-compose
  - .travis.yml

# Build settings
markdown: kramdown
highlighter: rouge
excerpt_separator: "<!--more-->"

kramdown:
  input: GFM
  syntax_highlighter: rouge

sass:
  style: compressed

# Outputting
permalink: :year/:month/:day/:title/
timezone: Europe/Dublin

# Pagination
paginate: 5
paginate_path: "/page:num"

# Search bar
search_results: 10
