---
layout: default
---
<div class="posts">
{% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}

    {% if post.content contains site.excerpt_separator %}
      <a href="{{ post.url | prepend: site.baseurl }}">Lire plus</a>
    {% endif %}
    <span class="tags">{% for tag in post.tags %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}</span>
  </div>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <span class="pagination-item older"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Précédent</a></span>
  {% else %}
    <span class="pagination-item older">&laquo; Précédent</span>
  {% endif %}

  {% if paginator.next_page %}
    <span class="pagination-item newer"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Suivant &raquo;</a></span>
  {% else %}
    <span class="pagination-item newer">Suivant &raquo;</span>
  {% endif %}
</div>
{% endif %}
