<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | prepend: site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <div class="sidebar-links">
      <a class="icon-github" href="https://github.com/{{ site.data.author.github }}" title="GitHub" target="_blank" rel="noopener noreferrer"></a>
      <a class="icon-docker-hub" href="https://hub.docker.com/u/{{ site.data.author.docker-hub }}" title="Docker Hub" target="_blank" rel="noopener noreferrer"></a>
      <a class="icon-twitter" href="https://twitter.com/{{ site.data.author.twitter }}" title="Twitter" target="_blank" rel="noopener noreferrer"></a>
      <a class="icon-linkedin" href="https://www.linkedin.com/in/{{ site.data.author.linkedin }}" title="LinkedIn" target="_blank" rel="noopener noreferrer"></a>
      <a class="icon-keybase" href="https://keybase.io/{{ site.data.author.keybase }}" title="Keybase" target="_blank" rel="noopener noreferrer"></a>
      <a class="icon-email" href="mailto:{{ site.data.author.email }}" title="Email"></a>
      <a class="icon-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS"></a>
    </div>

    <nav class="sidebar-nav">
    {% for item in site.data.nav %}
      <a class="sidebar-nav-item{% if page.url == item.link %} active{% endif %}" href="{{ item.link }}">{{ item.name}}</a>
    {% endfor %}
    </nav>
  </div>
</div>
